#  Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# .tfvars files
*.tfvars

# vscode workspace
enterpriselz.code-workspace

# PyCharm
.idea

# Python
__pycache__

# npm modules
node_modules
